
@{
    ViewBag.Title = "Brand";
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Brand</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th width="50">Edit</th>
                            <th width="50">Delete</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>*@
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td>Laptop</td>
                            <td style="text-align:center"><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
                            <td style="text-align:center"><a href="#"><i class="fas fa-fw fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

